<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>陳姵汝</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#9393FF; font-size:40px;}
	</style>


	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/pei.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}

		function change2() {
  			document.getElementById("pic").src = "/static/pei2.jpg";
  			document.getElementById("h2text").innerText = "Pei-Ju chen ";
		}
	</script>


</head>
<body>
	<table width="70%">
		<tr>
			<td>
				<img src="/static/pei2.jpg" width="80%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
			</td>>

			<td>
				<h1>陳姵汝</h1>
				<h2 id="h2text">Pei-Ju chen</h2>
			</td>
		</tr>
	</table>


	<table width="70%" border="1">
		<tr>
			<td>
				Ig：<a href="https://www.instagram.com/cpj._.520/">https://www.instagram.com/cpj._.520/</a><br>
				FB：<a href="https://www.facebook.com/pearl.chen.39566?locale=zh_TW" target="_blank">https://www.facebook.com/pearl.chen.39566?locale=zh_TW</a><br>
				Tel: <a href="tel:0927000976">0927000976</a><br>
				E-Mail: <a href="cpjjj0701@gmail.com">cpjjj0701@gmail.com</a><br>
			</td>

			<td>
				自我介紹<br><br>
				我是陳姵汝，綽號是姵姵<br>
				我的興趣是出去拍美食及看表演<br>

			</td>

			<td>
				vvs無法解凍<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/V32oALe7gLs?si=cQn21FG0fGXS5LWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</td>
		</tr>
	</table>

</body>
</html>