<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>MIS相關工作</title>
 <style type="text/css">
 * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
  h1 {color:white; font-size:45px;}
  h2 {color:#e384dd; font-size:35px;}
 </style>


 <script>
  function change1() {
     document.getElementById("pic").src = "/static/company2.jpg";
     document.getElementById("h2text").innerText = "";
  }

  function change2() {
     document.getElementById("pic").src = "/static/company.png";
     document.getElementById("h2text").innerText = "奧爾資訊多媒體股份有限公司 ";
  }
 </script>


</head>
<body>
 <table width="70%">
  <tr>
   <td>
    <img src="/static/company.png" width="120%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
   </td>>

   <td>
    <h1>MIS相關工作</h1>
    <h2 id="h2text">Pei-Ju Chen</h2>
   </td>
  </tr>
 </table>


 <table width="70%" border="1">
  <tr>
   <td>
    公司介紹<br><br>
    地址     新北市板橋區文化路二段285號32樓<br>
    產業類別  網路管理工程師、系統工程師、其他資訊專業人員<br><br>
    公司網址 <a href="http://www.auer.com.tw/">http://www.auer.com.tw/</a><br>
    
   </td>
 
   <td>
    職缺介紹<br>
   
    職務類別   mis助理<br>
    工作性質   全職<br>
    上班地點   新北市板橋區文化路二段285號32樓<br><br>
    條件要求<br>
    工作經歷  1年以上<br>
    學歷要求  專科、大學、碩士<br>
    科系要求 資訊管理相關、資訊工程相關<br>

   </td>

   <td>
    工作內容<br><br>
    1.協助MIS工程師進行個人電腦及週邊設備的故障排除，包括Windows和Mac系統。<br>
    2.協助機房設備的維護，並參與定期檢查。<br>
    3.協助MIS工程師進行系統伺服器和網路的架設、維護和日常檢核。<br>
    ４. 協助管理公司的資訊資產，包括資產日常維護。<br>
    ５.  參與備份檢核，協助管理備份程序，並參與災害還原演練。<br>
    6. 協助MIS團隊完成主管分配的其他相關工作事項。<br>
   </td>
  </tr>
 </table>

</body>
</html>